name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt black flake8 coverage pytest

      - name: Check formatting with Black
        run: black --check .

      - name: Lint with Flake8
        run: flake8

      - name: Run tests with Coverage
        run: |
          coverage run -m pytest
          coverage xml
